/*Styles for the demo*/
#demo {
  width: 1080px;
  height: 400px;
  margin: auto;
  border: 1px solid black;
}
#demo2 {
  width: 1040px;
  height: 300px;
  margin: auto;
  border: 1px solid black;
}
/*iMag styles*/
.iMag {
  position: relative;
  overflow: hidden;
  text-align: left;
}
.iMag_image {
  position: absolute;
  z-index: 998;
}
.iMag_left, .iMag_up, .iMag_right, .iMag_down {
  position: absolute;
  z-index: 999;
};
