/*NOT RELATED STYLES*/
#demo {
  width: 1080px;
  height: 400px;
  margin: auto;
  border: 1px solid black;
}
#demo2 {
  width: 1040px;
  height: 300px;
  margin: auto;
  border: 1px solid black;
}
/*RELATED STYLES*/
.iMag {
  position: relative;
  overflow: hidden;
  text-align: left;
}
.iMag_img {
  position: absolute;
  z-index: 998;
}
.iMag_arrow {
  position: absolute;
  z-index: 999;
};
